Package: max-control
Version: 0.1
Architecture: all
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Installed-Size: 3440
Depends: libapache2-mod-php5, php5, php5-ldap, libssh2-php, php5-mcrypt, php5-mhash, apache2, smarty, libjs-jquery, samba-common-bin, libc6 (>= 2.3.2)
Section: web
Priority: optional
Description: Small PHP web based app to admin LDAP data from EBox
 max-control is a small PHP LDAp frontend to configure, users, groups,
 computers and make some actions like reboot, poweroff or mount ISO files
