Source: max-control
Section: web
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends:  debhelper (>= 7.0.0), cdbs, php5-cli, libc6-i386 [amd64]
Standards-Version: 3.8.4

Package: max-control
Architecture: all
Recommends: libc6-i386
Depends:  libapache2-mod-php5, php5, php5-ldap, libssh2-php, php5-mcrypt, php5-mhash, php5-cli,
          apache2, smarty, libjs-jquery, python-pyinotify, python-ldap, python-netifaces, tree,
          python-configobj, genisoimage,
          python, ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
Description: Small PHP web based app to admin LDAP data from Zentyal
 max-control is a small PHP LDAP frontend to configure, users, groups, 
 computers and make some actions like reboot, poweroff or mount ISO files



Package: zentyal-maxcontrol
Architecture: all
Provides: tftpd-hpa
Depends: zentyal, zentyal-network, zentyal-office, zentyal-dchp, zentyal-captiveportal, zentyal-squid, max-control, ${misc:Depends}, ${shlibs:Depends}
Conflicts: zentyal-captiveportal (<< 2.1.4max1)
Description: Zentyal - MAX Control
 Zentyal Platform is an open source small business server that can act as
 a Gateway, a Unified Threat Manager, an Office Server, an Infrastructure
 Manager, a Unified Communications Server or a combination of them. One
 single, easy-to-use platform to manage all your network services.
 .
 This module adds a MAX Control interface to your Zentyal installation.
