Source: max-control
Section: web
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends:  debhelper (>= 7.0.0), cdbs
Standards-Version: 3.8.4

Package: max-control
Architecture: all
Depends:  libapache2-mod-php5, php5, php5-ldap, libssh2-php, php5-mcrypt, php5-mhash,
          apache2, smarty, libjs-jquery,
          samba-common-bin,
          ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
Description: Small PHP web based app to admin LDAP data from EBox
 max-control is a small PHP LDAp frontend to configure, users, groups, 
 computers and make some actions like reboot, poweroff or mount ISO files

