#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

VERSION=$(shell dpkg-parsechangelog 2>/dev/null | awk '/^Version/ {print $$2}')

DEB_UPDATE_RCD_PARAMS := "start 99 2 3 4 5 . stop 40 0 1 6 ."
#DEB_DH_INSTALLINIT_ARGS := "--no-start"

#clean::
#	bin/pyboot --clean || true


binary-install/max-control:: test
	rm -f $(CURDIR)/debian/max-control/usr/share/max-control/www/ldap.php
	rm -f $(CURDIR)/debian/max-control/usr/share/max-control/www/ssh-test.php
	rm -f $(CURDIR)/debian/max-control/usr/share/max-control/www/test*php
	rm -f $(CURDIR)/debian/max-control/usr/share/max-control/www/new.php

	# replace __VERSION__ with VERSION
	sed -i -e 's/__VERSION__/$(VERSION)/g' $(CURDIR)/debian/max-control/usr/share/max-control/conf.inc.php.init
	sed -i -e 's/__VERSION__/$(VERSION)/g' $(CURDIR)/debian/max-control/usr/share/max-control/conf.inc.php.example

	grep -q zentyal debian/control && \
		rm -f $(CURDIR)/debian/max-control/usr/share/max-control/tftp.menus/backharddi-ng-text.menu ;\
		rm -f $(CURDIR)/debian/max-control/usr/share/max-control/tftp.menus/backharddi-ng.menu ;\
		head -27 tftpboot/pxelinux.cfg/default > $(CURDIR)/debian/max-control/var/lib/tftpboot/pxelinux.cfg/default


test:
	# check for PHP syntax errors
	@for f in $(shell find debian/max-control -type f -name "*php"); do \
		if [ -e "$$f" ]; then \
			#echo "php -l $$f";\
			php -l $$f >/dev/null || exit 1; \
		fi; \
	done

version:
	@echo "VERSION=$(VERSION)"
