

<div class='alert alert-danger'>

    <h2>MAX Control no está configurado.</h2>
    <ol>
        

        <li>Dentro de Zentyal activar los módulos:<br></li>
        <ul>
            <li>Red</li>
            <li>DHCP</li>
            <li>Compartir ficheros</li>
            <li>MAX Control</li>
        </ul><br>

        <li><b>Reinicie el servidor</b><br><br></li>

        <li>Ejecute desde una consola local o por SSH:<br><br><code>sudo configure-max-control</code><br><br></li>
        <li>Vuelva a esta página y podrá entrar con cualquier usuario del dominio<br><br><br></li>

        {if $DEBUG}
            <li>Con DEBUG activado, ejecuta <code>sudo bash update.config.sh</code></li>
        {/if}
    </ol>


</div>


