/*

Debug css

*/

.debug_table{
    border: 0;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}

.debug_tr {
    /*color: #cccccc;*/
    background-color: #CCC;
}

.even {
    background-color: #EEE;
}

.not_even {
    background-color: #FAFAFA;
}


.brown {
    color: #b57c03;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.black {
    color: black;
}

.nowrap{
    white-space:nowrap;
}


#aviso {
    clear: both; 
    padding:10px 10px 10px 10px;
    text-decoration:none;
    /*font-weight:bold;*/
    font-size: 13px;
    background-color: #afc6ed;
    width: 70%;
    border:dashed #88A 1px;
    /*text-align: center;*/
    color: #000;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

